:root {
  /* Color variables */
  --white: hsla(0, 0%, 99.6%, 1);

  /* Font */
  --font-family--primary: Helvetica, Arial, sans-serif;
}

/* TODO: Tidy up */
.highlight {
  background-color: hsla(54, 100%, 50%, 1);
}


/* TODO: Tidy up */
span {
  cursor: pointer;
}

/* Create something visual 'this can be clicked for video position' kind of thing */
span:hover {
  /* Using an inset box shadow, we can keep the highlight color triggered by
  current video time position */
  box-shadow: inset 0 0 20px hsla(54, 100%, 50%, 1);
  transition: all 1s;
  transition-timing-function: ease-in-out;
}