:root {
  /* Color variables */
  --white: hsla(0, 0%, 99.6%, 1);

  /* Font */
  --font-family--primary: Helvetica, Arial, sans-serif;
}

/* TODO: Tidy up */
.highlight {
  background-color: hsla(54, 100%, 50%, 1);
}

span {
  cursor: pointer;
}